@import '../../scss/_variables';
@import '../../scss/_animations';

.home{
  @include page($header-height);

  &-content {
    display: flex;
    margin-top: 5%;
    height: 650px;
  }

  &-content__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    animation: 0.5s linear showing-sections;
    z-index: $Z-INDEX_LEVEL_2;
  }

  &-title{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
  }

  &-subtitle{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
  }

  &-tagline{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
  }


  &-decor__circle{
    height: 100%;
    top: 0%;
    right: 0%;
    position: absolute;
    z-index: $Z-INDEX_LEVEL_1;
  }

  &-decor__tomatoes{
    height: 100%;
    top: 8%;
    right: -4%;
    position: absolute;
    animation: 0.5s linear showing-decor;
    z-index: $Z-INDEX_LEVEL_1;
  }
}