@import "../../scss//_variables";
@import "../../scss/animations";

.about {
  @include page($header-height);
  overflow: hidden;

  &-content{
    display: flex;
    margin-top: 5%;
    height: 650px;
  }

  &-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    animation: 0.5s linear showing-sections;
  }

  &-title{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 30px;
  }

  &-text__item{
    margin-bottom: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-text__item-title{
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    font-weight: 600;
  }

  &-text__item-text{
    text-align: left;
  }

  &-image{
    min-width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 25px -8px black;
  }

  &-form{
    height: 200px;
    width: 100%;
  }
}