.home-order{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  &__amount{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__amount-text{
    font-size: 30px;
    font-weight: 400;
    margin-right: 30px;
  }

  &__amount-price{
    font-size: 30px;
    font-weight: 600;
  }
}