//-----------Colors

$main-font-color: black;
$minor-font-color: #767676;
$white-font-color: #FCFCFC;

$main-accent: #ff7675;
$main-dark: #4E4E4E;

//------------Layers
$Z-INDEX_LEVEL_1: 1;
$Z-INDEX_LEVEL_2: 5;
$Z-INDEX_LEVEL_3: 10;
$Z-INDEX_LEVEL_4: 50;
$Z-INDEX_LEVEL_4: 100;

//------------Consts

$header-height: 70px;

@mixin page ($headerHeight) {
  position: relative;
  padding: 10px 0;
  min-height: calc(100vh - ($header-height + 40px));
}


:export {
  main-font-color: $main-font-color;
  minor-font-color: $minor-font-color;
  main-accent: $main-accent;
}